html {
  scroll-behavior: smooth;
  scroll-margin-top: 8.5rem;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background-color: #fff;
}

html::-webkit-scrollbar-thumb {
  background-color: #7380ec;
  border-radius: 5rem;
}

.scrollTop {
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 40px;
  height: 40px;
  z-index: 10000;
  font-size: 15px;
  padding-top: 7px;
  outline: none;
  border: none;
  border-radius: 0.6rem;
  background-color: #7380ec;
  color: #fff;
  cursor: pointer;
  visibility: hidden;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.scrollTop:hover {
  background-color: #5a5c69;
  color: #fccf33;
}

.scrollTop.active {
  visibility: visible;
  opacity: 1;
}

.scrollTop span {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin_product_img {
  width: 100px;
  height: 100px;
}

.admin_product_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.single-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.single-product .details_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.single-product .details_row .details_col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin: 0 10px;
}

.single-product .details_row .details_col .main-img-row img {
  width: 100%;
  height: 100%;
  padding: 10px 0px;
}

.single-product .details_row .details_col .small-img-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.single-product .details_row .details_col .small-img-row .small-img-col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  cursor: pointer;
  margin: 5px 5px 5px 0px;
  width: 50px;
  -webkit-box-shadow: 5px 5px 17px #d0d0d0, -5px -5px 17px #d0d0d0;
          box-shadow: 5px 5px 17px #d0d0d0, -5px -5px 17px #d0d0d0;
}

.detail_desc {
  scroll-behavior: smooth;
  scroll-margin-top: 8.5rem;
}

.detail_desc::-webkit-scrollbar {
  width: 0.5rem;
}

.detail_desc::-webkit-scrollbar-track {
  background-color: #fff;
}

.detail_desc::-webkit-scrollbar-thumb {
  background-color: #7380ec;
  border-radius: 5rem;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tags li .tag {
  background: #7380ec;
  border-radius: 3px 0 0 3px;
  color: #fff;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.tags li .tag::before {
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tags li .tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #7380ec;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tags li .tag:hover {
  background-color: crimson;
  color: white;
}

.tags li .tag:hover::after {
  border-left-color: crimson;
}

.submenu .submenu-item .message_count {
  background-color: #ff7782;
  color: #fff;
  padding: 2px 10px;
  font-size: 11px;
  border-radius: 0.4rem;
}

.tox-statusbar {
  display: none !important;
}

.filepond--credits {
  display: none !important;
}

.sidebar-wrapper {
  scroll-behavior: smooth !important;
  scroll-margin-top: 8.5rem !important;
}

.sidebar-wrapper::-webkit-scrollbar {
  width: 0.5rem !important;
}

.sidebar-wrapper::-webkit-scrollbar-track {
  background-color: #fff !important;
}

.sidebar-wrapper::-webkit-scrollbar-thumb {
  background-color: #7380ec !important;
  border-radius: 5rem !important;
}

.select2-selection__rendered .select2-selection__choice {
  background-color: #7380ec !important;
  color: #fff !important;
  border: none !important;
}

.select2-selection__rendered .select2-selection__choice button {
  color: #fff !important;
  border-right: #fff solid 1px !important;
}

.select2-selection__rendered .select2-selection__choice button:hover {
  background-color: #ff7782 !important;
  border: none !important;
  color: #fff !important;
}

.admin_product_img {
  width: 100px;
  height: 100px;
}

.admin_product_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */